.playArea {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 7rem);
}

.playArea__startBtn {
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  transition: all 0.1s;
  background-color: #4e9af1;
  margin: 0.2em auto;
}

.playArea__startBtn:hover {
  border-color: red;
}

.gameStarted {
  background-color: yellow;
}

.playArea__board {
  width: 90%;
  margin: 1rem auto;
  aspect-ratio: 1/1;
  height: 80%;
  background-color: green;
}

.playArea__table {
  width: 100%;
  height: 100%;
}

.playArea__board td {
  background-color: #53b8bb;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.playArea__board td:hover {
  background-color: #628395;
}

.cell-revealed {
  background-color: #f5e79d !important;
  color: blue !important;
  cursor: default !important;
}

@media all and (max-width: 30em) {
  .playArea__startBtn {
    display: block;
  }
}
